block _meta_common
  //- 従来型のメタデータ
  meta(name='description', content=description)
  //- 記事のキーワードをカンマで区切る
  meta(name='keywords', content=keywords)
  meta(name='robots', content=robots)
  //- SNSでページが共有された時に表示する用のメタデータ。
  //- サイト名
  meta(name='og:sitename', content="廃棄世界TRPG") 
  //- 言語の種類
  meta(name='og:locale', content="ja_JP") 
  //- タイトル
  meta(name='og:title', content=title) 
  //- 概要
  meta(name='og:description', content=description)
  //- 記事のURL
  meta(name='og:url', content="https://wasureta-d1775.firebaseapp.com/wasureta/") 
  meta(name='og:type', content="game") 
  //- twitter
  meta(name="twitter:site" content="@hibohiboo")
  //- twittercard（申請必要
  //- meta(name="twitter:card" content="summary_large_image")
  //- meta(name="twitter:creator" content="@hibohiboo")
  //- meta(name="twitter:title" content=title)
  //- meta(name="twitter:description" content=description)
  //- meta(name="twitter:image" content="https://wasureta-d1775.firebaseapp.com/assets/images/losttop.png")
