extends ../shared/_layout

append variables 
 - var title="List"

block content
  h2  #{title}
  p
    a(href=`/movies/create`) 新規作成
  table.table.table-bordered.table-responsive.table-hover.table-striped
    tr
      th title
      th Release Date
      th Genre
      th Price
      th
    each model in models
      tr
        td= model.title
        td= (new Date(model.releaseDate)).toISOString('YYYY-MM-DD').split('T')[0]
        td= model.genre
        td= model.price
        td
         a(href=`/movies/edit/${model.id}`) Edit |
         a(href=`/movies/details/${model.id}`) Details |
         a(href=`/movies/delete/${model.id}`) Delete
         